In [80]:
%matplotlib inline 
import Calculate_ABA_Flinkelsteinlab as ABA
reload(ABA)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from difflib import SequenceMatcher

In [27]:
filename = 'cas9-target-d-replicate-1-delta-abas.txt'
Path = '../data_ABA_Finkelsteinlab/champ-cas9-cas12a-data/'
data = pd.read_table(Path+filename, skiprows=3)
on_target = (pd.read_table(Path+filename, skiprows=1, nrows=1).columns.values[0]).split(' ')[4]
data_name = pd.read_table(Path+filename, nrows=1).columns.values[0][2:]
data.rename(columns={'# Sequence': 'Sequence'}, inplace=True)

In [110]:
def find_Mismatches(S, T, Cas='Cas9'):
    if Cas == 'Cas9':
        PAM = S[-3:]
        canonical = False
        if PAM[1:]=='GG':
            canonical = True
        MM = SequenceMatcher(None, T[0:-3], S[0:-3]).get_opcodes()
        for mm in MM:
            if mm[0]=='equal':
                MM.remove(mm)
    return [PAM, canonical, MM]

def get_Mut_type(Seq_Analysis):
    MM = Seq_Analysis[2]
    Mut_type = list(set(map(lambda x:x[0], MM)))
    return Mut_type

In [111]:
Cas='Cas9'
data['Seq_Analysis'] = data['Sequence'].apply(lambda x: find_Mismatches(x, on_target, Cas))
data['PAM'] = data['Seq_Analysis'].apply(lambda x:x[0])
data['Canonical PAM'] = data['Seq_Analysis'].apply(lambda x:x[1])
data['Mutation_type'] = data['Seq_Analysis'].apply(get_Mut_type)

In [112]:
data

,Sequence,Delta ABA (kBT),Uncertainty,Seq_Analysis,PAM,Canonical PAM,Mutation_type
0,TGTTAGTGATAAGTGGAATGCCATGTAGG,1.049942,0.024193,"[AGG, True, [(insert, 1, 1, 1, 2), (insert, 24...",AGG,True,[insert]
1,TTTAGTGATATGTAGAATGCCATGTGG,0.773238,0.029388,"[TGG, True, [(replace, 10, 11, 10, 11), (repla...",TGG,True,[replace]
2,TTGAGTGATAAGTGGAATGTCATGTGG,0.362694,0.026943,"[TGG, True, [(replace, 2, 3, 2, 3), (replace, ...",TGG,True,[replace]
3,TTTAGTGATAAGCTGGTAATGCCATGTGG,1.035705,0.028602,"[TGG, True, [(insert, 12, 12, 12, 13), (insert...",TGG,True,[insert]
4,TAATCACTATTCACCTATGCCATGTGG,1.112150,0.021644,"[TGG, True, [(delete, 0, 8, 0, 0), (delete, 11...",TGG,True,"[insert, replace, delete]"
5,TTTAGTGATAACTGGACTGCCATGTGG,1.108338,0.036600,"[TGG, True, [(replace, 11, 12, 11, 12), (repla...",TGG,True,[replace]
6,TTGTAGTGATAAGTGGACATGCCATGTGG,1.197064,0.022938,"[TGG, True, [(insert, 2, 2, 2, 3), (insert, 16...",TGG,True,[insert]
7,TTTAGTCATAAGTGGAATGCTATGTGG,1.098178,0.038442,"[TGG, True, [(replace, 6, 7, 6, 7), (replace, ...",TGG,True,[replace]
8,TTTAGTGATAAATGGAATGCCACGTGG,1.131646,0.033535,"[TGG, True, [(replace, 11, 12, 11, 12), (repla...",TGG,True,[replace]
9,TTTAGTGATAAGTGTGAATGTCCATGTGG,1.229645,0.025691,"[TGG, True, [(insert, 14, 14, 14, 15), (insert...",TGG,True,[insert]
10,TTTAATTATAAGTGGAATGCCATGTGG,0.266367,0.025562,"[TGG, True, [(replace, 4, 5, 4, 5), (replace, ...",TGG,True,[replace]
11,TTTAGTGATAAGTGGAATGCCTATGCTGG,1.178678,0.050663,"[TGG, True, [(insert, 21, 21, 21, 22), (insert...",TGG,True,[insert]
12,ATTAGTGATAAGTGGAAAGCCATGTGG,0.361099,0.024187,"[TGG, True, [(replace, 0, 1, 0, 1), (replace, ...",TGG,True,[replace]
13,TTTAGTGATAAGCATGGAATGCCATGTGG,0.521383,0.023216,"[TGG, True, [(insert, 12, 12, 12, 14)]]",TGG,True,[insert]
14,TTATAGTGATACAGTGGAATGCCATGTGG,0.564887,0.019322,"[TGG, True, [(insert, 2, 2, 2, 3), (insert, 10...",TGG,True,[insert]
15,TTTAGTGATAAGTGGAATCGGTACACC,1.195612,0.030269,"[ACC, False, [(insert, 18, 18, 18, 19), (inser...",ACC,False,"[insert, delete]"
16,TTTAGTTATATGTGGAATGCCATGTGG,0.537411,0.024458,"[TGG, True, [(replace, 6, 7, 6, 7), (replace, ...",TGG,True,[replace]
17,TTTAGTGATAAGTGGAATCGGTACACG,1.154420,0.037441,"[ACG, False, [(insert, 18, 18, 18, 19), (inser...",ACG,False,"[insert, delete]"
18,CTTAGCGATAAGTGGAATGCCATGTGG,0.143019,0.038407,"[TGG, True, [(replace, 0, 1, 0, 1), (replace, ...",TGG,True,[replace]
19,TTTATGTGATAAGTGGAATGCCATGCTGG,1.165233,0.037294,"[TGG, True, [(insert, 4, 4, 4, 5), (insert, 24...",TGG,True,[insert]
20,TTTAGTGATAAGTAGGAATCGCCATGTGG,1.174216,0.034154,"[TGG, True, [(insert, 13, 13, 13, 14), (insert...",TGG,True,[insert]
21,TTTAGACTATTCACCTTTGCCATGTGG,1.125214,0.024291,"[TGG, True, [(insert, 5, 5, 5, 7), (delete, 6,...",TGG,True,"[insert, replace, delete]"
22,TTTAGTGATAAGGGAATGCCTGTGG,1.166886,0.036538,"[TGG, True, [(delete, 12, 13, 12, 12), (delete...",TGG,True,[delete]
23,TTTAGTGATAAGTGGAATGCCATGTGAGG,1.047253,0.036025,"[AGG, True, [(insert, 24, 24, 24, 26)]]",AGG,True,[insert]
24,TTTAGTGATTTGTGGAATGCCATGTGG,0.551413,0.049408,"[TGG, True, [(replace, 9, 11, 9, 11)]]",TGG,True,[replace]
25,TCTTAGTGATAAGTGGAATGCGCATGTGG,1.088280,0.032347,"[TGG, True, [(insert, 1, 1, 1, 2), (insert, 20...",TGG,True,[insert]
26,TTTAGTGTATAAGTGGAATGCCGATGTGG,1.125375,0.035088,"[TGG, True, [(insert, 7, 7, 7, 8), (insert, 21...",TGG,True,[insert]
27,TTTTGTGATAAGTGGAATGCCATCTGG,0.981845,0.022617,"[TGG, True, [(replace, 3, 4, 3, 4), (replace, ...",TGG,True,[replace]
28,TTTAGTGATAAGTGGATATGCCAGTGTGG,1.150878,0.053074,"[TGG, True, [(insert, 16, 16, 16, 17), (insert...",TGG,True,[insert]
29,TCTAGTGATAAGTGGGATGCCATGTGG,0.357100,0.029037,"[TGG, True, [(replace, 1, 2, 1, 2), (replace, ...",TGG,True,[replace]
...,...,...,...,...,...,...,...
7479,TTTAGTGATAAGTGGAATTGCCATGTGAG,1.247013,0.037955,"[GAG, False, [(insert, 18, 18, 18, 19), (inser...",GAG,False,[insert]
7480,TTTAGTTATAATTGGAATGCCATGTGG,0.525434,0.021607,"[TGG, True, [(replace, 6, 7, 6, 7), (replace, ...",TGG,True,[replace]
7481,TTTAGTGATAAGTGGTATGCCATGTCG,1.215455,0.034527,"[TCG, False, [(replace, 15, 16, 15, 16)]]",TCG,False,[replace]
7482,TTTAGCTGATAAAGTGGAATGCCATGTGG,0.440983,0.028058,"[TGG, True, [(insert, 5, 5, 5, 6), (insert, 9,...",TGG,True,[insert]
7483,TTTAGTGATGCAAGTGGAATGCCATGTGG,0.424616,0.032956,"[TGG, True, [(insert, 9, 9, 9, 11)]]",TGG,True,[insert]
7484,TTTAGTGATAAGTGGAATGTCCATGTGAG,1.245572,0.028687,"[GAG, False, [(insert, 19, 19, 19, 20), (inser...",GAG,False,[insert]
7485,TTTACGTGATATAGTGGAATGCCATGTGG,0.429597,0.023017,"[TGG, True, [(insert, 4, 4, 4, 5), (insert, 10...",TGG,True,[insert]
7486,TTTAGTGATAGGTGGAATGCCATGTTG,1.214246,0.027727,"[TTG, False, [(replace, 10, 11, 10, 11)]]",TTG,False,[replace]
7487,TTTAGTGATAAGTGGAATGCACCATGTGG,1.216663,0.028071,"[TGG, True, [(insert, 20, 20, 20, 22)]]",TGG,True,[insert]
7488,TTATAGTGATAATGTGGAATGCCATGTGG,0.463477,0.026665,"[TGG, True, [(insert, 2, 2, 2, 3), (insert, 11...",TGG,True,[insert]
7489,TTTAGTGATAAGTGGAAATGCCATGTAGG,1.231235,0.031149,"[AGG, True, [(insert, 17, 17, 17, 18), (insert...",AGG,True,[insert]
7490,TTTAGTGACTAAGTAGGAATGCCATGTGG,0.436002,0.025326,"[TGG, True, [(insert, 8, 8, 8, 9), (insert, 13...",TGG,True,[insert]
7491,TTTAGTGAGTTAAGTGGAATGCCATGTGG,0.359732,0.071387,"[TGG, True, [(insert, 8, 8, 8, 10)]]",TGG,True,[insert]
7492,TTTAGTCGATAAGTAGGAATGCCATGTGG,0.463285,0.031080,"[TGG, True, [(insert, 6, 6, 6, 7), (insert, 13...",TGG,True,[insert]
7493,TTTATTGATGAGTGGAATGCCATGTGG,0.639676,0.025048,"[TGG, True, [(replace, 4, 5, 4, 5), (replace, ...",TGG,True,[replace]
7494,TTTAGTGATAAGTAGGAATGACCATGTGG,1.183470,0.039751,"[TGG, True, [(insert, 13, 13, 13, 14), (insert...",TGG,True,[insert]
7495,TTTAGTGATAAGTGGAATGTCATGTGG,0.286825,0.026973,"[TGG, True, [(replace, 19, 20, 19, 20)]]",TGG,True,[replace]
7496,TTTAGTGATAAGTGGAATGTCATGTGC,1.262366,0.029747,"[TGC, False, [(replace, 19, 20, 19, 20)]]",TGC,False,[replace]
7497,TTTAGTGATAAGTGGAATGTCATGTGA,1.217618,0.039857,"[TGA, False, [(replace, 19, 20, 19, 20)]]",TGA,False,[replace]
7498,TTTAGTGATAAGTGGAATGTCATGTGT,1.249087,0.037785,"[TGT, False, [(replace, 19, 20, 19, 20)]]",TGT,False,[replace]
7499,TTTAGTGATAAGTCGAGAATGCCATGTGG,0.802516,0.022028,"[TGG, True, [(insert, 13, 13, 13, 14), (insert...",TGG,True,[insert]
7500,TTTAGTGAGTAAGTGGAATGGCCATGTGG,1.204933,0.036500,"[TGG, True, [(insert, 8, 8, 8, 9), (insert, 19...",TGG,True,[insert]
7501,TTTAGTGAGAAGTGGAATGCTATGTGG,1.079499,0.041856,"[TGG, True, [(replace, 8, 9, 8, 9), (replace, ...",TGG,True,[replace]
7502,TTAAGCGATAAGTGGAATGCCATGTGG,0.077599,0.044607,"[TGG, True, [(delete, 0, 1, 0, 0), (insert, 4,...",TGG,True,"[insert, replace, delete]"
7503,TTTAGTGATAAGTGGAATGCGATGTCG,1.304614,0.028024,"[TCG, False, [(replace, 20, 21, 20, 21)]]",TCG,False,[replace]
7504,TTTAGTGATAAGTAGGAATGTCCATGTGG,1.192940,0.031036,"[TGG, True, [(insert, 13, 13, 13, 14), (insert...",TGG,True,[insert]
7505,TTTAGTGATAAGTGGCAATGCACATGTGG,1.262587,0.042706,"[TGG, True, [(insert, 15, 15, 15, 16), (insert...",TGG,True,[insert]
7506,TTTAGTGATAAAGATGGAATGCCATGTGG,0.473298,0.023551,"[TGG, True, [(insert, 11, 11, 11, 12), (insert...",TGG,True,[insert]
7507,TTTAGTGATAAGTGGAGTGCCATGTCG,1.206234,0.030390,"[TCG, False, [(replace, 16, 17, 16, 17)]]",TCG,False,[replace]
7508,TTTAGTGATAAAGTGGAATGCCGATGTGG,1.089445,0.032500,"[TGG, True, [(insert, 9, 9, 9, 10), (insert, 2...",TGG,True,[insert]

In [90]:
s=data['Sequence'][0]
t= on_target
s1=s[0:-3]
s2=t[0:-3]
MM = SequenceMatcher(None, s1, s2).get_opcodes()
for mm in MM:
    if mm[0]=='equal':
        MM.remove(mm)
MM

[('delete', 1, 2, 1, 1), ('delete', 25, 26, 24, 24)]

In [116]:
len(on_target)

27

In [118]:
data['Mutation_type'].apply(lambda x: len(x)>1).sum()

662

In [78]:
s

'TGTTAGTGATAAGTGGAATGCCATGTAGG'